################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/NonSteamShortcuts/obj/Debug
/src/.vs/NonSteamShortcuts/v16
/src/NonSteamShortcuts/bin/Debug
/src/NonSteamShortcuts/obj
